extend layout
block content
  h1 Welcome!
  p.
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius, nulla id sollicitudin varius, felis mauris adipiscing felis, id consectetur odio lacus sit amet orci. Nunc iaculis libero et risus vehicula, bibendum volutpat lorem imperdiet. Sed magna elit, luctus sit amet suscipit ac, luctus ac sapien
  p.
    Etiam vestibulum vel tellus in pulvinar. Nunc sollicitudin ultricies augue non ornare. Mauris lacinia lectus eros, ut tincidunt est ultricies sit amet. Mauris ultricies dolor enim, ac tempus magna venenatis.
block sidebar
  .block
    h1 Right Sidebar
    p.
      Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim vehicula.
    br.
    .readmore
      a(href="http://example.com") Read More
